process {
    cpus = 1
    maxForks = 20
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'
    withName: 'split_maker_evidence' {
        time = '1d'
    }
    withName: 'model_selection_by_AED' {
        time = '1d'
    }
    withName: 'retain_longest_isoform' {
        time = '1d'
    }
    withName: 'remove_incomplete_gene_models' {
        time = '1d'
    }
    withName: 'filter_by_locus_distance' {
        time = '1d'
    }
    withName: 'extract_protein_sequence' {
        time = '1d'
    }
    withName: 'blast_makeblastdb' {
        time = '1d'
    }
    withName: 'blast_recursive' {
        cpus = 8
        time = '6d'
    }
    withName: 'gff_filter_by_blast' {
        time = '1d'
    }
    withName: 'gff2gbk' {
        time = '2d'
    }
    withName: 'gbk2augustus' {
        time = '1d'
    }
    withName: 'augustus_training' {
        time = '1d'
    }
    withName: 'convert_gff2zff' {
        time = '1d'
    }
    withName: 'snap_training' {
        time = '10d'
    }
}
