process {
    withLabel: 'Blast' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_blast.yml" }
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
    }
    withLabel: 'Augustus' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_augustus.yml" }
        container = 'quay.io/biocontainers/augustus:3.3.3--pl526hce533f5_1'
    }
    withLabel: 'AGAT' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_agat.yml" }
        container = 'quay.io/biocontainers/agat:0.4.0--pl526r35_0'
    }
    withName: 'snap_training' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_snap.yml" }
        container = 'quay.io/biocontainers/snap:2013_11_29--h516909a_2'
    }
}
