/*
    Test profile for NBIS AbinitioTraining pipeline

    Usage:
        nextflow run -profile test NBISweden/pipelines-nextflow/AbinitioTraining
*/
params {
    maker_evidence_gff = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff'
    genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
    outdir = "results"
    species_label = 'test_species'  // e.g. 'asecodes_parviclava'
    codon_table = 1
    test_size = 10
    flank_region_size = 500
    // maker_species_publishdir = '/path/to/shared/maker/folder/' // e.g. '/projects/references/augustus/config/species/'
}
