manifest {
    name = 'NBIS Genome Annotation Workflow'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = 'Workflows for assisting in de novo genome annotation.'
    mainScript = 'main.nf'
    nextflowVersion = '!>=21.10.6'
    version = '1.0'
}

params {
    // General parameters
    outdir = 'results'
    subworkflow = ''
    genome = "/path/to/genome/assembly.fasta"

    // Ab initio training parameters
    maker_evidence_gff = "/path/to/maker/evidence.gff"
    species_label = 'test_species'  // e.g. 'asecodes_parviclava'
    codon_table = 1
    flank_region_size = 1000
    maker_species_publishdir = null
    aed_value = [ 0.3 ]
    locus_distance = [ 3000 ]

    // Annotation preprocessing parameters
    // List of lineages to run with busco
    busco_lineage = [ 'eukaryota_odb10', 'bacteria_odb10' ]
    // local path to busco lineages to avoid downloading each time
    busco_lineages_path = null

    // Functional annotation parameters
    gff_annotation = '/path/to/annotation.gff'
    records_per_file = 1000
    blast_db_fasta = '/path/to/protein/database.fasta'
    merge_annotation_identifier = 'ID'

    // Transcript assembly parameters
    reads = "/path/to/reads_{1,2}.fastq.gz"
    single_end = false
    skip_trimming = false
    multiqc_config = "$projectDir/assets/multiqc_conf.yml"

    // The default mode of publishing results (see https://www.nextflow.io/docs/latest/process.html#publishdir)
    publishDir_mode = 'copy'
}

includeConfig "$projectDir/config/nf-core-defaults.config"

profiles {

    uppmax {
        executor {
            name = 'slurm'
        }
        params.project = 'snic20XX'
        process {
            clusterOptions = "-A ${params.project}"
            scratch = '$SNIC_TMP'
        }
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
    }

    conda {
        conda.enabled  = true
    }

    mamba {
        conda.enabled  = true
        conda.useMamba = true
    }

    docker {
        docker.enabled = true
        docker.runOptions='-u "$( id -u ):$( id -g )"'
        docker.registry = 'quay.io'
    }

    singularity {
        singularity.enabled = true
        singularity.registry = 'quay.io'
    }

    gitpod {
        executor {
            name = 'local'
            cpus = 16
            memory = 60.GB
        }
    }

    nbis {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '/scratch'
        }
    }

    test {
        includeConfig "$projectDir/config/test.config"
    }

    pipeline_report {
        timeline {
            enabled = true
            file = "${params.outdir}/pipeline_report/execution_timeline.html"
        }
        report {
            enabled = true
            file = "${params.outdir}/pipeline_report/execution_report.html"
        }
        trace {
            enabled = true
            file = "${params.outdir}/pipeline_report/execution_trace.txt"
        }
        dag {
            enabled = true
            file = "${params.outdir}/pipeline_report/pipeline_dag.mmd"
        }
    }
}

includeConfig "$projectDir/config/modules.config"
