manifest {
  name = 'Annotation Preprocessing'
  author = 'Mahesh Binzer-Panchal'
  homePage = ''
  description = 'Nextflow annotation preprocessing pipeline'
  mainScript = 'AnnotationPreprocessing.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.2'
}

profiles {

  conda {
    process {
      withLabel: 'AGAT' {
        conda = "$baseDir/conda/label_agat.yml"
      }
      withName: 'fasta_filter_size' {
        conda = "$baseDir/conda/process_fasta_filter_size.yml"
      }
      withName: 'busco' {
        conda = "$baseDir/conda/process_busco.yml"
      }
    }
    env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
    env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin'
  }

  singularity {
    singularity.enabled = true
    process {
      withLabel: 'AGAT' {
        container = 'quay.io/biocontainers/agat:0.1.0--pl526r35_0'
      }
      withName: 'fasta_filter_size' {
        container = 'quay.io/biocontainers/seqtk:1.3--hed695b0_2'
      }
      withName: 'busco' {
        container = 'quay.io/biocontainers/busco:4.0.2--pyr36_0'
      }
    }
    env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
    env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin'
  }

  debug { process.beforeScript = 'echo $HOSTNAME' }

  docker {
    docker.enabled = true
    process {
      withLabel: 'AGAT' {
        container = 'quay.io/biocontainers/agat:0.1.0--pl526r35_0'
      }
      withName: 'fasta_filter_size' {
        container = 'quay.io/biocontainers/seqtk:1.3--hed695b0_2'
      }
      withName: 'busco' {
        container = 'quay.io/biocontainers/busco:4.0.2--pyr36_0'
      }
    }
    env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
    env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin'
  }

  nbis {
    executor {
      name = 'local'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      shell = ['/bin/bash', '-euo', 'pipefail']
    }
  }

  bils {
    executor {
      name = 'local'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      shell = ['/bin/bash', '-euo', 'pipefail']
    }
  }
}

resume = true

timeline {
  enabled = true
  file = "pipeline_report/execution_timeline.html"
}

report {
  enabled = true
  file = "pipeline_report/execution_report.html"
}

trace {
  enabled = true
  file = "pipeline_report/execution_trace.txt"
}

dag {
  enabled = true
  file = "pipeline_report/pipeline_dag.svg"
}
