process {
    cpus = 1
    time = '1h'
    maxForks = 20
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'
    withName: 'assembly_purify' {
        time = '1h'
    }
    withName: 'assembly_generate_stats' {
        time = '1h'
    }
    withName: 'busco' {
        cpus = 8
        time = '24h'
    }
}
