process {
    withLabel: 'GAAS' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_gaas.yml" }
        container = 'quay.io/biocontainers/gaas:1.2.0--pl526r35_0'
    }
    withName: 'busco' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_busco.yml" }
        container = 'ezlabgva/busco:v4.0.6_cv1'
    }
}
