process {
    withLabel: 'GAAS' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_agat.yml" }
        container = 'quay.io/biocontainers/gaas:1.0.1--pl526r35_0'
    }
    withName: 'fasta_filter_size' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_fasta_filter_size.yml" }
        container = 'quay.io/biocontainers/seqtk:1.3--hed695b0_2'
    }
    withName: 'busco' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_busco.yml" }
        container = 'quay.io/biocontainers/busco:4.0.2--pyr36_0'
    }
}
