process {
    withLabel: 'GAAS' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_gaas.yml" }
        container = 'quay.io/biocontainers/gaas:1.1.0--pl526r35_0'
    }
    withName: 'busco' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_busco.yml" }
        container = 'quay.io/biocontainers/busco:4.0.2--pyr36_0'
        beforeScript = { singularity.enabled ? 'test -f /tmp/resolv.conf || cp /{etc,tmp}/resolv.conf' : '' }
    }
}
