/*
    Test profile for NBIS TranscriptAssembly pipeline

    Usage:
        nextflow run -profile test NBISweden/pipelines-nextflow/pipelines/TranscriptAssembly
*/
params {
    maker_evidence_gff = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff'
    genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
    outdir = "results"
    gff_gene_model_filter_options = '-c -r -d 500 -a 0.3'
    codon_table = 1
    test_size = 10
    flank_region_size = 500
    augustus_training_species = 'test_species'  // e.g. 'asecodes_parviclava'
    // maker_species_publishdir = '/path/to/shared/maker/folder/' // e.g. '/projects/references/augustus/config/species/'
}
