process {
    withLabel: blast {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_blastp.yml" }
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
    }
    withName: interproscan {
        // NOTE: Interproscan is not currently installed through conda. It must be added separately to your PATH.
        // see `nbis` profile for an example of how.
        // conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_interproscan.yml" }
        if( workflow.profile == "uppmax" ) {
            // use Uppmax module
            module 'bioinfo-tools:InterProScan/5.30-69.0'
        } else {
            // Use conda profile and provide Interoproscan via the PATH.
            conda = "$baseDir/conda/process_interproscan.yml"
        }
        // The container does not function correctly. Waiting for a biocontainers container.
        // container = 'biocontainers/interproscan:v5.30-69.0_cv3'
    }
    withLabel: 'AGAT' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_agat.yml" }
        container = 'quay.io/biocontainers/agat:0.5.1--pl526r35_0'
    }
}
