/*
    Test profile for NBIS FunctionalAnnotation pipeline

    Usage:
        nextflow run -profile test NBISweden/pipelines-nextflow/pipelines/FunctionalAnnotation
*/
params {

    genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
    gff_annotation = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff'
    outdir = "results"
    codon_table = 1
    records_per_file = 1000
    // This path will only work on nac profile
    blast_db_fasta = '/projects/references/databases/uniprot/2018-03/uniprot_sprot.fasta'
    interproscan_db = ''
    merge_annotation_identifier = 'ID'

}
