process {
    withName: blastp {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_blastp.yml" }
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
    }
    withName: interproscan {
        // NOTE: Interproscan is not currently installed through conda. It must be added separately to your PATH.
        // see `nbis` profile for an example of how.
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_interproscan.yml" }
        container = 'biocontainers/interproscan:v5.30-69.0_cv3'
    }
    withLabel: 'AGAT' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_agat.yml" }
        container = 'quay.io/biocontainers/agat:0.2.3--pl526r35_0'
    }
}
