/*
    Test profile for NBIS FunctionalAnnotationPreparation pipeline

    Usage:
        nextflow run -profile test NBISweden/pipelines-nextflow/pipelines/FunctionalAnnotationPreparation
*/
params {

    genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
    gff_annotation = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff'
    outdir = "results"
    codon_table = 1
    records_per_file = 1000
    // blast_db_fasta = '/projects/references/databases/uniprot/2018-03/uniprot_sprot.fasta'
    // blast_db_fasta = 'https://www.uniprot.org/uniprot/?query=organism:4932&format=fasta'
    blast_db_fasta = 'https://www.uniprot.org/uniprot/%3Fquery%3Dorganism%3A4932%26format%3Dfasta'
    interproscan_db = ''
    merge_annotation_identifier = 'ID'

}
