manifest {
    name = 'OrganelleFinder'
    author = ' Vendela Andersson, William Eulau, Viktor Säde'
    homePage = ''
    description = 'Nextflow genomic organelle finder pipeline'
    mainScript = 'OrganelleFinder.nf'
    nextflowVersion = '!>=20.01.0'
    version = '0.2'
}

params {
    // Input genome paths
    genome_assembly = ''
    reference_mitochondria = ''
    reference_chloroplast = ''
    reads_file = ''

    // Output directory
    outdir = ''
    input_type = ''

    mit_blast_evalue = ''
    mit_bitscore = ''
    mit_significant_gene_matches = ''
    mit_suspicious_gene_matches = ''
    mit_max_contig_length = ''
    mit_min_span_fraction = ''

    chl_blast_evalue = ''
    chl_bitscore = ''
    chl_significant_gene_matches = ''
    chl_suspicious_gene_matches = ''
    chl_max_contig_length = ''
    chl_min_span_fraction = ''
}


profiles {
    standard {
        process.executor = 'local'
    }

    singularity {
        singularity.enabled = true
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }
    uppmax {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '$SNIC_TMP'
        }
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
    }

process {
    withName: 'EXTRACT_MITOCHONDRIA' {
        publishDir = [
                path: params.outdir,
                pattern: "*_mitochondria.fna" 
        ]
    }
}


}

resume = true

timeline {
    enabled = true
    file = "pipeline_report/execution_timeline.html"
}

report {
    enabled = true
    file = "pipeline_report/execution_report.html"
}

trace {
    enabled = true
    file = "pipeline_report/execution_trace.txt"
}

dag {
    enabled = true
    file = "pipeline_report/pipeline_dag.svg"
}
