manifest {
    name = 'OrganelleFinder test'
    author = 'Mahesh Binzer-Panchal, Jacques Dainat'
    homePage = ''
    description = 'Nextflow functional annotation preparation pipeline'
    mainScript = 'OrganelleFinder.nf'
    nextflowVersion = '!>=20.01.0'
    version = '0.2'
}

params {
    // Input genome paths
    params.genome_assembly = ''
    params.reference_mitochondria = ''
    params.reference_chloroplast = ''

    // Output directory
    params.outdir = 'results'
    input_type = ''

    mit_blast_evalue = ''
    mit_bitscore = ''
    mit_significant_gene_matches = ''

    chl_blast_evalue = ''
    chl_bitscore = ''
    chl_significant_gene_matches = ''
}

profiles {
    standard {
        process.executor = 'local'
    }

    singularity {
        singularity.enabled = true
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }


    bils {
        executor {
            name = 'lsf'
        }
        includeConfig "$baseDir/config/compute_resources.config"
    }
}

resume = true

timeline {
    enabled = true
    file = "pipeline_report/execution_timeline.html"
}

report {
    enabled = true
    file = "pipeline_report/execution_report.html"
}

trace {
    enabled = true
    file = "pipeline_report/execution_trace.txt"
}

dag {
    enabled = true
    file = "pipeline_report/pipeline_dag.svg"
}
