publish_subdir = 'abinitio_training'

process {
    withName: 'SPLIT_MAKER_EVIDENCE' {
        ext.args   = ''            
        publishDir = [
            path: { "${params.outdir}/${publish_subdir}/" },
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MODEL_SELECTION_BY_AED' {
        ext.args   = { [
            "--value ${meta.aed_value}",
            '-a _AED',
            '-t ">"'
        ].join(' ').trim() }
        ext.prefix = 'codingGeneFeatures'
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/filter"},
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'RETAIN_LONGEST_ISOFORM' {
        ext.args   = ''
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/filter"},
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'REMOVE_INCOMPLETE_GENE_MODELS' {
        ext.args   = ''
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/filter"},
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FILTER_BY_LOCUS_DISTANCE' {
        ext.args   = { "-d ${meta.locus_distance}" }
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/filter"},
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'EXTRACT_PROTEIN_SEQUENCE' {
        ext.args   = [
            '-p',
            '-cfs',
            '-cis',
            "-ct $params.codon_table"
        ].join(' ').trim()
    }
    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = '-dbtype prot'
    }
    withName: 'BLAST_RECURSIVE' {
        ext.args   = '-outfmt 6'
    }
    withName: 'GFF_FILTER_BY_BLAST' {
        ext.args   = ''
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/blast_filtered_gff"},
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'GFF2GBK' {
        ext.args   = params.flank_region_size
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/augustus/gbk_files"},
            mode: params.publishDir_mode,
            pattern: "*.gbk"
        ]
    }
    withName: 'GBK2AUGUSTUS' {
        ext.args   = '100'
        publishDir = [
            [
                path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/augustus/training_data"},
                mode: params.publishDir_mode,
                pattern: "*.train"
            ],
            [
                path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/augustus/test_data"},
                mode: params.publishDir_mode,
                pattern: "*.test"
            ]
        ]
    }
    withName: 'AUGUSTUS_TRAINING' {
        ext.args    = ''
        ext.prefix  = { "${species_label}-LD${meta.locus_distance}-AED${meta.aed_value}" }
        publishDir = [ 
            [
                path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/augustus_training"},
                mode: params.publishDir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: {"${params.maker_species_publishdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}"},
                mode: 'copy',
                enabled: params.maker_species_publishdir != null,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
    withName: 'RANK_AUGUSTUS_MODELS' {
        publishDir  = [
            path: { "${params.outdir}/${publish_subdir}/summary" }
        ]
    }
    withName: 'CONVERT_GFF2ZFF' {
        ext.args    = ''
    }
    withName: 'SNAP_TRAINING' {
        ext.args   = "-categorize ${params.flank_region_size}"
        ext.args2  = "-export ${params.flank_region_size} -plus"
        publishDir = [
            path: {"${params.outdir}/${publish_subdir}/LD-${meta.locus_distance}_AED-${meta.aed_value}/snap_training"},
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
