publish_subdir = 'abinitio_training'

process {
    withName: 'SPLIT_MAKER_EVIDENCE' {
        ext.args   = ''            
        publishDir "${params.outdir}", mode: 'copy'
        publishDir = [
            path: "${params.outdir}/${publish_subdir}",
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MODEL_SELECTION_BY_AED' {
        ext.args   = ''
        publishDir "${params.outdir}/filter", mode: 'copy'
    }
    withName: 'RETAIN_LONGEST_ISOFORM' {
        ext.args   = ''
        publishDir "${params.outdir}/filter", mode: 'copy'
    }
    withName: 'REMOVE_INCOMPLETE_GENE_MODELS' {
        ext.args   = ''
        publishDir "${params.outdir}/filter", mode: 'copy'
    }
    withName: 'FILTER_BY_LOCUS_DISTANCE' {
        ext.args   = ''
        publishDir "${params.outdir}/filter", mode: 'copy'
    }
    withName: 'EXTRACT_PROTEIN_SEQUENCE' {
        ext.args   = ''
    }
    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = ''
    }
    withName: 'BLAST_RECURSIVE' {
        ext.args   = ''
    }
    withName: 'GFF_FILTER_BY_BLAST' {
        ext.args   = ''
        publishDir "${params.outdir}/BlastFilteredGFF", mode: 'copy'
    }
    withName: 'GFF2GBK' {
        ext.args   = ''
    }
    withName: 'GBK2AUGUSTUS' {
        ext.args   = ''
        publishDir "${params.outdir}/Augustus", mode: 'copy',
            saveAs: { filename ->
                if (filename.indexOf(".train") > 0)        "TrainingData/$filename"
                else if (filename.indexOf(".test") > 0)    "TestingData/$filename"
                else if (filename.indexOf(".gbk") > 0)     "GenbankFile/$filename"
                else filename }
    }
    withName: 'AUGUSTUS_TRAINING' {
        ext.args    = ''
        publishDir "${params.outdir}/Augustus_training", mode: 'copy'
        publishDir "${params.maker_species_publishdir}", mode: 'copy', enabled: file(params.maker_species_publishdir).exists(), pattern: "${species_label}"
    }
    withName: 'CONVERT_GFF2ZFF' {
        ext.args    = ''
    }
    withName: 'SNAP_TRAINING' {
        ext.args     = ''
        publishDir "${params.outdir}/Snap_training", mode: 'copy'
    }
}
