publish_subdir = 'annotation_preprocessing'

process {
    withName: 'ASSEMBLY_PURIFY' {
        ext.args   = '--size 1000'
        publishDir = [
            path: "${params.outdir}/${publish_subdir}/assembly", 
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'ASSEMBLY_STATS' {
        publishDir = [
            path: "${params.outdir}/${publish_subdir}/stats", 
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BUSCO' {
        time       = 2.d
        tag        = { "$lineage:$meta.id" }
        ext.args   = '--tar'
        publishDir = [
            path: "${params.outdir}/${publish_subdir}/busco", 
            mode: params.publishDir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
