publish_subdir = 'annotation_preprocessing'

process {
    withName: 'ASSEMBLY_PURIFY' {
        publishDir "${params.outdir}/assembly", mode: 'copy'
    }
    withName: 'ASSEMBLY_GENERATE_STATS' {
        publishDir "${params.outdir}/stats", mode: 'copy'
    }
    withName: 'BUSCO' {
        publishDir "${params.outdir}/busco", mode: 'copy'
    }
}
