publish_subdir = 'functional_annotation'

process {
    withName: 'GFF2PROTEIN' {
        ext.args   = [
            '-p',
            '-cfs',
            '-cis',
            "-ct $params.codon_table"
        ].join(' ').trim()
    }
    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype prot'
    }
    withName: 'BLAST_BLASTP' {
        ext.args = '-evalue 1e-6 -outfmt 6'
    }
    withName: 'INTERPROSCAN' {
        cpus   = 8
        ext.args = [
            '--iprlookup',
            '--goterms', 
            '-pa',
            '-dra', 
            '-t p'
        ].join(' ').trim()
    }
    withName: 'MERGE_FUNCTIONAL_ANNOTATION' {
        ext.args = [
            "-id $params.merge_annotation_identifier",
            '-pe 5',
            params.use_pcds ? "--pcds" : ""
        ].join(' ').trim()
        publishDir = [
            [
                path: "${params.outdir}/${publish_subdir}/blast_tsv",
                mode: params.publishDir_mode,
                pattern: "blast_merged.tsv"
            ],
            [
                path: "${params.outdir}/${publish_subdir}/interproscan_tsv",
                mode: params.publishDir_mode,
                pattern: "interproscan_merged.tsv"
            ],
            [
                path: "${params.outdir}/${publish_subdir}/final_annotation",
                mode: params.publishDir_mode,
                pattern: "*.gff"
            ]
        ]
    }
}
