publish_subdir = 'functional_annotation'

process {
    withName: 'GFF2PROTEIN' {
        ext.args = ''
    }
    withName: 'MAKEBLASTDB' {
        ext.args = ''
    }
    withName: 'BLASTP' {
        ext.args = ''
    }
    withName: 'INTERPROSCAN' {
        ext.args = ''
    }
    withName: 'MERGE_FUNCTIONAL_ANNOTATION' {
        publishDir "${params.outdir}/blast_tsv", mode: 'copy', pattern: 'blast_merged.tsv'
        publishDir "${params.outdir}/interproscan_tsv", mode: 'copy', pattern: 'interproscan_merged.tsv'
        publishDir "${params.outdir}/final_annotation", mode: 'copy', pattern: "${gff_annotation.baseName}_plus-functional-annotation.gff"
    }
}
