// Ab initio training modules
if ( params.subworkflow == 'abinitio_training' ){
    includeConfig "$projectDir/config/abinitio_training_modules.config"
} 

// Annotation preprocessing modules
if ( params.subworkflow == 'annotation_preprocessing' ){
    includeConfig "$projectDir/config/annotation_preprocessing_modules.config"
}

// Functional annotation modules
if ( params.subworkflow == 'functional_annotation' ){
    includeConfig "$projectDir/config/functional_annotation_modules.config"
}

// Transcript assembly modules
if ( params.subworkflow == 'transcript_assembly' ){
    includeConfig "$projectDir/config/transcript_assembly_modules.config"
}