// nf-core label resource requirements
// check_max function removed for now.

process {

    cpus   = 1
    memory = 6.GB
    time   = 4.h

    withLabel: process_single {
        cpus   = 1
        memory = 12.GB
        time   = 24.h
    }
    withLabel: process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_medium {
        cpus   = 6
        memory = 36.GB
        time   = 8.h
    }
    withLabel: process_high {
        cpus   = 12
        memory = 72.GB
        time   = 16.h
    }
    withLabel: process_long {
        time   = 20.h
        cpus   = 4
    }
    withLabel: process_high_memory {
        memory = 120.GB
    }
}
