if ( params.subworkflow == 'abinitio_training' ) {
}
if ( params.subworkflow == 'annotation_preprocessing' ) {
    params {
        genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
        outdir = "results"
    }
}
if ( params.subworkflow == 'functional_annotation' ) {
}
if ( params.subworkflow == 'transcript_assembly' ) {
    params {
        reads = 'https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238351_subsamp.fastq.gz'
        genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
        single_end = true
        outdir = "results"
    }
}

// limit resources for test profile
process {

    cpus   = 1
    memory = 6.GB
    time   = 4.h

    withLabel: process_single {
        cpus   = 1
        memory = 6.GB
        time   = 2.h
    }
    withLabel: process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_medium {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_high {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_long {
        time   = 20.h
    }
    withLabel: process_high_memory {
        memory = 30.GB
    }
}