if ( params.subworkflow == 'abinitio_training' ) {
    params {
        maker_evidence_gff = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff'
        genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
        outdir = "results"
        species_label = 'test_species'  // e.g. 'asecodes_parviclava'
        flank_region_size = 500
    }
    process {
        // Trick: Fully qualified process name has higher priority than simple name
        // Otherwise settings are overridden by those in modules.config loaded after this
        withName: 'ABINITIO_TRAINING:FILTER_BY_LOCUS_DISTANCE' {
            ext.args   = '-d 500'
        }
        withName: 'ABINITIO_TRAINING:GBK2AUGUSTUS' {
            ext.args   = '10'
        }
    }
}
if ( params.subworkflow == 'annotation_preprocessing' ) {
    params {
        genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
        outdir = "results"
    }
}
if ( params.subworkflow == 'functional_annotation' ) {
}
if ( params.subworkflow == 'transcript_assembly' ) {
    params {
        reads = 'https://github.com/nf-core/test-datasets/raw/rnaseq/testdata/SRR4238351_subsamp.fastq.gz'
        genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
        single_end = true
        outdir = "results"
    }
}

// limit resources for test profile
process {

    cpus   = 1
    memory = 6.GB
    time   = 4.h

    withLabel: process_single {
        cpus   = 1
        memory = 6.GB
        time   = 2.h
    }
    withLabel: process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_medium {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_high {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: process_long {
        time   = 20.h
    }
    withLabel: process_high_memory {
        memory = 30.GB
    }
}