manifest {
    name = 'Annotation Preprocessing'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = 'Nextflow annotation preprocessing pipeline'
    mainScript = 'AnnotationPreprocessing.nf'
    nextflowVersion = '!>=20.01.0'
    version = '0.2'
}

profiles {

    uppmax {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '$SNIC_TMP'
        }
        includeConfig "$baseDir/config/compute_resources.config"
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
        includeConfig "$baseDir/config/software_packages.config"
    }

    conda {
        includeConfig "$baseDir/config/software_packages.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/software_packages.config"
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        includeConfig "$baseDir/config/software_packages.config"
        runOptions='-u "$( id -u ):$( id -g )"'
    }

    nbis {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '/scratch'
        }
        includeConfig "$baseDir/config/compute_resources.config"
    }

    bils {
        executor {
            name = 'lsf'
        }
        includeConfig "$baseDir/config/compute_resources.config"
    }

    test {
        includeConfig "$baseDir/config/test_profile.config"
    }
}

resume = true

timeline {
    enabled = true
    file = "pipeline_report/execution_timeline.html"
}

report {
    enabled = true
    file = "pipeline_report/execution_report.html"
}

trace {
    enabled = true
    file = "pipeline_report/execution_trace.txt"
}

dag {
    enabled = true
    file = "pipeline_report/pipeline_dag.svg"
}
