manifest {
  name = 'Functional Annotation Preparation'
  author = 'Mahesh Binzer-Panchal, Jacques Dainat'
  homePage = ''
  description = 'Nextflow functional annotation preparation pipeline'
  mainScript = 'FunctionalAnnotationPreparation.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.2'
}

profiles {

  conda {
    process {
      withName: blastp {
        conda = "$baseDir/conda/process_blastp.yml"
      }
      withName: interproscan {
        // Does this need elfutils=0.176 ?
        conda = "$baseDir/conda/process_interproscan.yml"
      }
      withLabel: 'AGAT' {
        conda = "$baseDir/conda/label_agat.yml"
      }
    }
    env.PATH='${PATH}:/projects/references/interproscan/interproscan-5.38-76.0'
  }

  debug { process.beforeScript = 'env' }

  docker {
    docker.enabled = true
    process {
      withName: blastp {
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
      }
      withName: interproscan {
        container = 'biocontainers/interproscan'
      }
      withLabel: 'AGAT' {
        container = 'quay.io/biocontainers/agat:0.1.0--pl526r35_0'
      }
    }
  }

  singularity {
    singularity.enabled = true
    process {
      withName: blastp {
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
      }
      withName: interproscan {
        container = 'biocontainers/interproscan'
      }
      withLabel: 'AGAT' {
        container = 'quay.io/biocontainers/agat:0.1.0--pl526r35_0'
      }
    }
  }

  nbis {
    executor {
      name = 'slurm'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      shell = ['/bin/bash', '-euo', 'pipefail']
      stageOutMode = 'rsync'
      withName: blastp {
        cpus = 8
      }
      withName: interproscan {
        cpus = 8
      }
    }
  }

  bils {
    executor {
      name = 'lsf'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      shell = ['/bin/bash', '-euo', 'pipefail']
      stageOutMode = 'rsync'
      withName: blastp {
        cpus = 8
      }
      withName: interproscan {
        cpus = 8
      }
    }
  }
}

resume = true

timeline {
  enabled = true
  file = "pipeline_report/execution_timeline.html"
}

report {
  enabled = true
  file = "pipeline_report/execution_report.html"
}

trace {
  enabled = true
  file = "pipeline_report/execution_trace.txt"
}

dag {
  enabled = true
  file = "pipeline_report/pipeline_dag.svg"
}
