manifest {
  name = 'Augustus Training'
  author = 'Mahesh Binzer-Panchal, Jacques Dainat'
  homePage = ''
  description = 'Nextflow Augustus training pipeline'
  mainScript = 'AugustusTraining.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.2'
}

profiles {

  conda {
    process {
      withLabel: 'Blast' {
        conda = "$baseDir/conda/label_blast.yml"
      }
      withLabel: 'Augustus' {
        conda = "$baseDir/conda/label_augustus.yml"
      }
      withLabel: 'AGAT' {
        conda = "$baseDir/conda/label_agat.yml"
      }
    }
  }

  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    process {
      withLabel: 'Blast' {
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
      }
      withLabel: 'Augustus' {
        container = 'docker pull quay.io/biocontainers/augustus:3.3.3--pl526hce533f5_1'
      }
      withLabel: 'AGAT' {
        container = 'quay.io/biocontainers/agat:0.1.0--pl526r35_0'
      }
    }
  }

  singularity {
    singularity.enabled = true
    process {
      withLabel: 'Blast' {
        container = 'quay.io/biocontainers/blast:2.9.0--pl526h3066fca_4'
      }
      withLabel: 'Augustus' {
        container = 'quay.io/biocontainers/augustus:3.3.3--pl526hce533f5_1'
      }
      withLabel: 'AGAT' {
        container = 'quay.io/biocontainers/agat:0.1.0--pl526r35_0'
      }
    }
  }

  nbis {
    executor {
      name = 'slurm'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      shell = ['/bin/bash', '-euo', 'pipefail']
      stageOutMode = 'rsync'
      withName: blast_recursive {
        cpus = 8
      }
    }
  }

  bils {
    executor {
      name = 'lsf'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      shell = ['/bin/bash', '-euo', 'pipefail']
      stageOutMode = 'rsync'
      withName: blast_recursive {
        cpus = 8
      }
    }
  }
}

resume = true

timeline {
  enabled = true
  file = "pipeline_report/execution_timeline.html"
}

report {
  enabled = true
  file = "pipeline_report/execution_report.html"
}

trace {
  enabled = true
  file = "pipeline_report/execution_trace.txt"
}

dag {
  enabled = true
  file = "pipeline_report/pipeline_dag.svg"
}
