manifest {
    name = 'Augustus Training'
    author = 'Mahesh Binzer-Panchal, Jacques Dainat'
    homePage = ''
    description = 'Nextflow Augustus training pipeline'
    mainScript = 'AugustusTraining.nf'
    nextflowVersion = '>=19.10.0'
    version = '0.2'
}

profiles {

    conda {
        includeConfig "$baseDir/config/software_packages.config"
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        includeConfig "$baseDir/config/software_packages.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/software_packages.config"
    }

    nbis {
        executor {
            name = 'slurm'
        }
        includeConfig "$baseDir/config/compute_resources.config"
    }

    bils {
        executor {
            name = 'lsf'
        }
        includeConfig "$baseDir/config/compute_resources.config"
    }
}

resume = true

timeline {
    enabled = true
    file = "pipeline_report/execution_timeline.html"
}

report {
    enabled = true
    file = "pipeline_report/execution_report.html"
}

trace {
    enabled = true
    file = "pipeline_report/execution_trace.txt"
}

dag {
    enabled = true
    file = "pipeline_report/pipeline_dag.svg"
}
