name: Continuous Integration

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch, or add_actions branch
on:
  push:
    branches: [ master, add_actions ]
  pull_request:
    branches: [ master, add_actions ]

jobs:
  test_workflow:
    runs-on: ubuntu-latest

    env:
      NXF_ANSI_LOG: false

    strategy:
      matrix:
        NXF_VER: 
          - "22.10.1"
          - "latest"
        profile:
          - docker
        workflow:
          - 'abinitio_training'
          - 'annotation_preprocessing'
          - 'functional_annotation'
          - 'transcript_assembly'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # https://github.com/marketplace/actions/checkout
    - name: Check out repository code
      uses: actions/checkout@v4

    # https://github.com/marketplace/actions/setup-nextflow
    - name: Install Nextflow
      uses: nf-core/setup-nextflow@v1
      with:
        version: "${{ matrix.NXF_VER }}"

    - name: Test ${{ matrix.workflow }} with profile ${{ matrix.profile }}
      run: nextflow run -profile test,${{ matrix.profile }} main.nf --subworkflow ${{ matrix.workflow }}
